<head>
	<style>
		p{
			display: inline;
		}
		details{
			border: 1px solid black;
			border-radius: 10px;
		}
		summary{
			font-weight: bold;
		}
	</style>
</head>
<html>
	<h1>
		Scrumdo snapshot generated at: {{date}}<br>
	</h1>
	<table cellspacing=0 cellpadding=0 border>
		{{#each iterations}}
		<tr>
			<th rowspan=2>
				{{name}}
			</th>
			{{#each boardcells}}
			<th>
				{{name}}
			</th>
			{{/each}}
		</tr>
		<tr>
			{{#each boardcells}}
			<td>
				{{#each stories}}
				<details>
					<summary>
						{{number}} {{{summary}}}
					</summary>
					{{{detail}}}
				</details>
				{{/each}}
			</td>
			{{/each}}
		</tr>
		{{/each}}
	</table>
</html>